enero 24 xpath dom schema jpa listado vista tablon/xml/acta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/acta" xmlns:tns="http://www.example.org/acta" elementFormDefault="qualified">
    <element name="acta" type="tns:acta"></element>    
    <complexType name="acta">
    	<sequence>
    		<element name="calificacion" type="tns:calificacion" minOccurs="1"></element>
    		<element name="diligencia" type="tns:diligencia" minOccurs="0"></element>
    	</sequence>
    	<attribute name="asignatura" type="string" use="required"></attribute>
    	<attribute name="convocatoria" use="required">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="febrero"></enumeration>
    				<enumeration value="junio"></enumeration>
    				<enumeration value="julio"></enumeration>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="curso" type="string" use="optional"></attribute>
    </complexType>

    <complexType name="calificacion">
    	<sequence>
    		<element name="nif" type="string" minOccurs="1"></element>
    		<element name="nombre" type="string" minOccurs="0"></element>
    		<element name="nota" minOccurs="1">
    			<simpleType>
    				<restriction base="double">
    					<minExclusive value="0"></minExclusive>
    					<maxExclusive value="10"></maxExclusive>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="diligencia">
    	<attribute name="fecha" type="string" use="required"></attribute>
    	<attribute name="extraordinaria" default="no">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="si"></enumeration>
    				<enumeration value="no"></enumeration>
    			</restriction>
    		</simpleType>
    	</attribute>
    </complexType>
</schema>