enero25 mongo jsonp xsd listado puntuar/obra/obra.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="obra">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="titulo" type="xs:string"/>
                <xs:element name="descripcion" type="xs:string"/>
                <xs:element name="tecnica" type="xs:string"/>
                <xs:element name="dimensiones" type="tipo_dimension"/>
                <xs:element name="artista" type="xs:string"/>
                <xs:element name="puntuaciones" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="puntuacion" type="tipo_puntuacion" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="codigo_inscripcion" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="tipo_dimension">
        <xs:sequence>
            <xs:element name="alto" type="xs:int"/>
            <xs:element name="ancho" type="xs:int"/>
            <xs:element name="profundidad" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipo_puntuacion">
        <xs:sequence>
            <xs:element name="usuario" type="xs:string"/>
            <xs:element name="nota_tecnica" type="xs:double"/>
            <xs:element name="nota_artistica" type="xs:double"/>
            <xs:element name="comentario" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>